.success {
  padding: 1.2rem;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.success.none {
  display: none;
}

.success__content {
  display: flex;
  flex-direction: column;
  align-items: start;
  flex: 1;
  margin-top: 35%;
}

.success__title {
  font-size: var(--size-4xl);
  margin: 2rem 0;
}

.success__description {
  font-size: var(--size-base);
  max-width: 50ch;
}

.success__form button {
  color: white;
  background: var(--clr-dark-slate-grey);
  width: 100%;
  padding: 14px;
  font-weight: 700;
  border-radius: 8px;
  font-size: var(--size-sm);
}


/* xs */
/* @media (min-width: 475px) {} */

/* sm */
/* @media (min-width: 640px) {} */

/* md */
/* @media (min-width: 768px) {} */

/* lg */
@media (min-width: 1024px) {
  .success {
    padding: 2rem;
    display: block;
    height: fit-content;
  }

  .success.none {
    display: none;
  }
  
  .success__content {
    display: block;
    margin-top: 0rem;
    margin-bottom: 3rem;
  }
  
  .success__description {
    max-width: 40ch;
  }
  
  .success__form-button {
    background: linear-gradient(var(--clr-dark-slate-grey), var(--clr-dark-slate-grey));
    padding: 16px;
    font-size: var(--size-base);
  }

  .success__form-button:hover {
    background: var(--gd-background);
  }
}

/* xl */
/* @media (min-width: 1280px) {} */

/* 2xl */
/* @media (min-width: 1536px) {} */