.result {
  display: flex;
  flex-direction: column;
}

.result__result {
  display: flex;
  gap: 1rem;
}

.result__value {
  font-size: var(--size-6xl);
  font-style: italic;
  font-weight: 800;
  color: var(--clr-purple);
}

.result__word {
  font-style: italic;
  font-weight: 800;
  font-size: var(--size-6xl);
}
