body {
  display: grid;
  place-items: center;
  height: 100vh;
}

.wrapper {
  --border-radius: 32px;
  --border-radius-big: 120px;
  background-color: var(--clr-white);
  border-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius-big);
  padding: 3rem 2rem;
}

/* xl */
@media (min-width: 1280px) {
  .wrapper {
    padding: 3rem;
  }
}
